.gris {
    background-color: #C0C0C0;
}
.rouge {
    background-color: #F33;
}
.orange {
    background-color: #F93;
}
.jaune {
    background-color: #FF6;
}
.vert {
    background-color: #6F6;
}
.bleu {
    background-color: #06C;
}
.violet {
    background-color: #93F;
}
.rose {
    background-color: #FF66B2;
}