/* Propriétés de balises */

body {
    overflow: hidden;
    min-height: 100vw;
    background: #222;
    color: snow;
}
button {
    border-radius: 3px;
    background-color: #C0C0C0;
}
header {
    background-color: #333;
    height: 3em;
    border-bottom: 2px solid black;
}
input {
    border-radius: 3px;
    background-color: #C0C0C0;
}
link:visited {
    color: blue;
}

/* Propriétés d'ids */

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #444;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(27, 27, 27, 0.3);
    box-shadow: 0 30px 60px 0 rgba(31, 30, 30, 0.3);
    text-align: center;
}
#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}   
#logo {
    float: left;
    height: 3em;
}

/* Propriétés de classes */

.click {
    cursor: pointer;
}
.credit {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.3em;
    text-align: right;
    margin-right: 30px;
    float: right;
    bottom: 0;
    right: 0;
    background-color: black;
    color: antiquewhite;
    padding: 1px 1px 1px 1px;
    margin: 0;
    margin-top: 10px;
    font-size: 10px;
    width: 41em;
    float: right;
}
.link {
    height: 3em;
    float: right;
    cursor: pointer;
    padding: 5px 10px;
    border-left: 1px black solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.me {
    font-style: oblique;
}

/* Classes de couleurs */

.gris {
    background-color: #C0C0C0;
    color: black;
}
.rouge {
    background-color: #F33;
}
.orange {
    color: black;
    background-color: #F93;
}
.jaune {
    color: black;
    background-color: #FF6;
}
.vert {
    color: black;
    background-color: #6F6;
}
.bleu {
    background-color: #06C;
}
.violet {
    background-color: #93F;
}
.rose {
    color: black;
    background-color: #FF66B2;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}
.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */

.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}
.underlineHover:hover {
    color: #0d0d0d;
}
.underlineHover:hover:after {
    width: 100%;
}
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

/* Propriétés de sidebar */

.sidebar {
    background-color: #646464;
    border: solid 0.3em #646464;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin: 5px auto;
    width: 20em;
    padding: 5px;
    overflow: auto;
}
.sidebar::-webkit-scrollbar {
    width: 12px;
    background-color: #222;
}
.sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #D62929;
}
.sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #222;
}
.sidebarBody {
    background-color: #444;
    border: solid 0.3em #444;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin: 5px auto;
    width: 20em;
    padding: 5px;
}
.sidebarFooter {
    background-color: lightslategrey;
    border: none 0.3em lightslategray;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin: 5px auto;
    width: 20em;
    padding: 5px;
}
.sideBarTitle {
    display: block;
    text-align: center;
}