/* Propriétés de balises */

body {
    overflow: hidden;
    min-height: 100vw;
    background: #222;
    color: snow;
}
header {
    background-color: #333;
    height : 3em;
}
footer {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.3em;
    text-align: right;
    margin-right: 30px;
    float: right;
    bottom: 0;
    right:0;
    background-color: black;
    color:antiquewhite;
    padding: 1px 1px 1px 1px;
    margin:0;
    margin-top: 10px;
    font-size:10px;
    width: 41em;
    float : right;
}

/* Propriétés d'ids */

#logo {
    float:left;
    height: 3em;
}

/* Propriétés de classes */