body {
    width: 40%;
    width: 60%;
    padding: 10px;
}

div {
    margin-top: 5px;
    margin-bottom: 5px;
}

#enregistrer {
    float: right;
    margin: 5px;
}

legend {
    border: dotted black 1px;
}

label {
    display: block;
    width: 130px;
    float: left;
}

input {
    text-align: center;
}

#erreur {
    background-color: red;
    color: white;
}