body{
    width: 60%;
    padding: 10px;
}

div{
    margin-top: 5px;
    margin-bottom: 5px;
}

#enregistrer{
    float: right;
    margin: 5px;
}

legend{
    border: dotted black 1px;
}

input{
    text-align: center;
}