body {
    width: 40%;
    padding: 10px;
    background: #222;
    color: snow;
}

div {
    margin-top: 5px;
    margin-bottom: 5px;
}

#enregistrer {
    float: right;
    margin: 5px;
}

legend {
    border: solid black 1px;
}

label {
    display: block;
    width: 130px;
    float: left;
}

#erreur {
    background-color: red;
    color: white;
    width: 50%
}

fieldset{
    border: #222;
}