/* Propriétés de balises */



/* Propriétés d'ids */

#listeUsers {
    margin:15px;
}

/* Propriétés de classes */

.commonChats {
    display: inline-block;
    float : right;
    width: 8em;
}
.pseudo {
    display: inline-block;
    width: calc(100%-8em);
}